<%= render "greeting" %>
<div class="posts_index">

  <div class="post__header">
    <h1>Posts</h1>
    <%= link_to "New Post", new_post_path %>
  </div>

  <% if @posts.empty? %>
    <%= render "noposts" %>
  <% end %>

  <ul class="posts">
    <% @posts.reverse_each do |post| %>
      <li class="post__card">
        <div class="post-title__wrapper">
          <%= link_to post.title, post %>
          <% if post.created_at.today? %>
            <%= post.created_at.strftime('%l:%M %P') %>
          <% else %>
            <%= post.created_at.strftime('%m/%d/%Y') %>
          <% end %>
        </div>
        <%= post.body %>
        <% if user_signed_in? %>
          <p>posted by: <%= post.user.username %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>