<%= render "greeting" %>
<div class="posts_index">

  <div class="post__header">
    <h1>Posts</h1>
    <%= link_to "New Post", new_post_path %>
  </div>

  <% if @posts.empty? %>
    <%= render "noposts" %>
  <% end %>

  <ul class="posts">
    <% @posts.reverse_each do |post| %>
      <li class="post__card">
        <div class="post-title__wrapper">
          <%= link_to post.title, post %>
          <%= render "date", p: post %>
        </div>
        <%= post.body %>
        <% if user_signed_in? %>
          <p>posted by: <%= post.user.username %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>