<div class="post-show__wrapper">
  
  <div>
    <h1><%= @post.title %></h1>
    <% if @post.created_at.today? %>
      <%= @post.created_at.strftime('%l:%M %P') %>
    <% else %>
      <%= @post.created_at.strftime('%m/%d/%Y') %>
    <% end %>
  </div>

  <p class="post__body"><%= @post.body %></p>

  <% if @post.owned_by?(current_user) %>
    <ul class="post__actions">
      <li><%= link_to "Edit", edit_post_path(@post) %></li>
      <li><%= link_to "Destroy", post_path(@post), data: {
                          turbo_method: :delete,
                          turbo_confirm: "Are you sure?"
                        } %></li>
    </ul>
  <% end %>
  
</div>